.back-btn {
  border: none;
  color: var(--clr-main-5);
  padding: 5px 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  margin: 50px 0px 50px 0px;
  border-radius: 4px;

  display: flex;
  gap: 5px;
  align-items: center;
}

.main-details h2 {
  margin: 20px 0px 10px 0px;
}

.main-details p,
.secondary-details p {
  line-height: 1.75;
}

.main-details,
.secondary-details {
  margin-bottom: 40px;
}

.border-details {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.border-details__countries {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.country-card-detailed {
  margin: 20px;
  color: var(--clr-main-6);
}

.border-country {
  padding: 5px 10px;
  font-size: 0.725rem;
  color: var(--clr-main-6);
  opacity: 80%;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}
