.header{
    color: var(--clr-main-6);
    padding: 30px 10px;
    font-size: 0.875rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.3);
}

.header-mode{
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}
