.scroll-to-top {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  background: var(--clr-main-1);
  color: var(--clr-main-6);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 100;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
}

.scroll-to-top.show {
  opacity: 1;
  pointer-events: auto;
}
