:root {
  --clr-main-1: hsl(209, 23%, 22%);
  --clr-main-2: hsl(207, 26%, 17%);
  --clr-main-3: hsl(200, 15%, 8%);
  --clr-main-4: hsl(0, 0%, 50%);
  --clr-main-5: hsl(0, 0%, 99%);
  --clr-main-6: hsl(0, 100%, 100%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--clr-main-1);
  font-family: "Nunito Sans", sans-serif;
}

.bg-component {
  background-color: var(--clr-main-2);
}
.bg-component-light {
  background-color: var(--clr-main-6);
}

img {
  display: block;
  width: 100%;
}

@media screen and (min-width: 625px) {
  .cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}

@media screen and (min-width: 950px) {
  .country-card-detailed {
    padding: 5px;
  }

  .country-card-detailed__details-left {
    display: flex;
  }
  .country-card-detailed__details-right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
    padding: 20px 10px;
    word-break: keep-all;
  }
  .country-card-detailed__details {
    display: flex;
  }
  .details-top {
    display: flex;
    gap: 50px;
  }

  .border-details.border-details {
    display: flex;
    flex-direction: row;
  }
  .border-country{
    display: flex;
    align-items: center;
  }
}
